*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

main{
    height: 1001px;
    display: flex;
    justify-content: space-between;
}

#map{
    background-color: rgb(145, 220, 255);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    min-width: 969px;
    display: flex;
    flex-direction: column;
    position: relative;
}

svg{
    transform: scaleY(-1);
}

aside{
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-width: 290px;
    border-left: 1px solid black;
    padding-left: 5%;
    background-image: url('../assets/old_map.png');
    display: none;
}

#location_list{
    height: 95%;
}

#regions{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.region_title{
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 2px;;
    margin-bottom: 10px;
    width: 80%;
    height: 25px;
    cursor: pointer;
}

.region_title:hover{
    background-color: cyan;
}

text{
    transform: scaleY(-1);
    pointer-events: none;
}

#show_list{
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    padding: 10px;
    border: 1px solid black;
    border-right: none;
    height: 20px;
    background-image: url(../assets/old_map.png);
    cursor: pointer;
    z-index: 2;
}

#show_list img{
    height: 20px;
}